@import "../../Styles/variables";
@import "../../Styles/_mixins.scss";

.imagediv-container {
  .heroimage-container {
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .heroimage-desc {
      font-size: 1.5rem;
      margin-top: auto;
      margin-left: 10rem;
      font-family: $font-RobotoSlab;
      .h1 {
        margin: 0px;
        padding: 0px;
      }

      .h2 {
        font-family: $font-Lato;
      }
    }
  }
}
