@import "../../Styles/variables";
@import "../../Styles/_mixins.scss";

.items-swiper-container {
  margin-left: 17rem;
  margin-right: 17rem;
  margin-top: 10rem;
  .desc-type {
    color: white;
    font-size: 3rem;
    font-family: $font-AlegreyaSans;
    padding-bottom: 1.7rem;
  }
  .items-container {
    color: white;
    width: 100%;
    .movies {
      height: 19rem;
      width: 12.6rem;
      border-radius: 0.5rem;
      background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6))
        center center / cover no-repeat;

      img {
        z-index: -10;
        border-radius: 0.5rem;
        max-width: 12.6rem;
        max-height: 19rem;
      }
    }
  }
}

// @media screen and (max-width: 1300px) {
//   .items-swiper-container {
//     margin-top: 16rem;
//     margin-left: 12rem;
//     margin-right: 12rem;
//   }
// }
