@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Slab&family=Roboto:wght@300;400&display=swap");
$primary-color: #2b2c43;
$base-color: #201f32;
$font-Lato: "Lato", sans-serif;
$font-Roboto: "Roboto", sans-serif;
$font-RobotoSlab: "Roboto Slab", serif;
