@import "./components/elements/Header/Header.scss";
@import "./components/Home/home.scss";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5;
}
html {
  font-size: 10px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
